-i https://pypi.org/simple
asgiref==3.12.1; python_version >= '3.10'
dj-database-url==3.1.2; python_version >= '3.10'
django==6.1; python_version >= '3.12'
django-environ==0.14.0; python_version >= '3.9' and python_version < '4'
gunicorn==26.0.0; python_version >= '3.10'
packaging==26.3; python_version >= '3.9'
pillow==12.3.0; python_version >= '3.10'
psycopg2-binary==2.9.12; python_version >= '3.9'
sqlparse==0.6.0; python_version >= '3.10'
tzdata==2026.3; python_version >= '2'
whitenoise==6.12.0; python_version >= '3.10'
