{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookshop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="site-header">
        <div class="container header-inner">
            <a href="{% url 'store:home' %}" class="logo">📖 Bookshop</a>

            <nav class="main-nav">
                <a href="{% url 'store:home' %}">Home</a>
                <a href="{% url 'store:book_list' %}">Books</a>
                
                  <a href="{% url 'store:cart_detail' %}" class="cart-icon">
        🛒shopping card 
        <span id="cart-count">
        
            
        </span>
    </a>
                <a href="{% url 'store:signup' %}">Sign Up</a>
                <a href="#footer-info">Info</a>
                <a href="#footer-address">Contact</a>
            </nav>

            <button id="theme-toggle" aria-label="Toggle dark and light mode">🌙</button>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer" id="footer-info">
        <div class="container footer-inner">
            <div>
                <h4>Bookshop</h4>
                <p>A place where you'll always find the book you're seeking.</p>
            </div>
            <div id="footer-address">
                <h4>Address</h4>
                <p>Isfahan, Iran<br></p>
            </div>
            <div>
                <h4>Info</h4>
                <p>Sat–Thur: 9:00–18:00<br>bookshop@gmail.com</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/theme.js' %}"></script>
</body>
</html>